@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



svg#loading{
  animation: rotate 5s linear infinite;
}

svg#loading circle{
  animation: scaler 3s linear calc(var(--i) * 100ms) infinite;
}

circle#c1{
  --i: 0;
}

circle#c2{
  --i: 1;
}

circle#c3{
  --i: 2;
}

circle#c4{
  --i: 3;
}

circle#c5{
  --i: 4;
}

circle#c6{
  --i: 5;
}

circle#c7{
  --i: 6;
}

circle#c8{
  --i: 7;
}


@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes scaler {
  0%{
    r: 4;  
  }
  50%{
    r: 5;
    fill: #eee;
  }
  100%{
    r: 4;
  }
}
